:root {
  --Heading__FontFamily__Headingfontfamily: "Cormorant Garamond", serif;
  --Body__FontFamily__Bodyfontfamily: "Montserrat", sans-serif;
  --Heading__TextSize__FontsizeXL: 96px;
  --Heading__TextSize__FontsizeL: 60px;
  --Heading__TextSize__FontsizeM: 48px;
  --Heading__TextSize__FontsizeS: 34px;
  --Heading__TextSize__FontsizeXS: 24px;
  --Heading__FontWeight__Fontweightbold: 700;
  --Heading__FontWeight__Fontweightdefault: 400;
  --Heading__FontWeight__Fontweightmedium: 500;
  --Heading__FontWeight__Fontweightlight: 300;
  --Body__TextSize__TextsizeL: 16px;
  --Body__TextSize__TextsizeS: 14px;
  --Body__FontWeight__Fontweightdefault: 400;
  --Body__FontWeight__Fontweightlight: 300;
  --Body__FontWeight__Fontweightmedium: 500;
}
